<!DOCTYPE html>
<html lang="en">
<head>
    <title>404 - Not found</title>
    <meta charset="UTF-8">
    <meta name="author" content="Klappstuhl65"/>
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/static/404.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
</head>
<body>
    <div class="container">
        <h1>404</h1>
        <h2>Not Found</h2>
        <h3>Sorry, the page you're searching for is not available.</h3>
        <a href="/" class="button">
            <div class="absolute inset-0 bg-gradient-to-t from-white/5"></div>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" height="20">
                <path stroke-linecap="round" stroke-linejoin="round" d="M11 17l-5-5m0 0l5-5m-5 5h12"></path>
            </svg>
            Go Back Home
        </a>
    </div>
</body>
</html>
